<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">K & M Hotels</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggle-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr--auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Sign Up/Sign In</a>
                </li>
          </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="text-xs-center">Welcome</h1>
  <p class="text-xs-center">Searching  For a five start african hotel to satisfy you travelling dreams?
     look no futher. Register to learn more and begin your booking journery.
    already signeed up? then <a class="text" routerLink="#">Sign In Now</a> and begin your booking journey.</p>

  <a class="btn btn-primary center" href="" role="button" >Sign Up Now</a>     
  <a class="btn btn-primary center" href="" role="button" >Sign In</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-hover">
          <div class="card-body">
            <h5 class="card-title">Affordable</h5>
            <p class="card-text">With us luxury comes at an affordable price.</p>
           </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-hover">
          <div class="card-body">
            <h5 class="card-title">Special treatment</h5>
            <p class="card-text">All our Customers are special and we ensure they get the best treatment.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-hover">
          <div class="card-body">
            <h5 class="card-title">Remarkable Meals</h5>
            <p class="card-text">We have world class chefs , that offer a world class menu.</p>
           
          </div>
        </div>
      </div>
    </div>

  </div>

<div class="footer bg-dark " style="color: whitesmoke ; height: 70px;">
<p class="text-xs-center" style="text-align:center ;"> Powered by Team Bang!
</div>

