<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand " style="font-family: Quicksand; color: white;">KHUMALO MODAU</a>
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/gallery">Gallery</a>
      <a class="nav-item nav-link" routerLink="/contact">Contact Us</a>
      <a class="nav-item nav-link" routerLink="/about-us">About Us</a>
      <a class="nav-item nav-link" routerLink="/register">Reservations</a>
  </div>
 
</nav>
<router-outlet></router-outlet>
    
    



