
<div style="text-align: center;">
<h2>Contact Us</h2>
<hr style="width: 40%; ">
<p>Have any questions? send us a message</p>
</div>
<div class="container ">
    
<form>
<div class="form-row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Name"><br>
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Surname"><br>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Number"><br>
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Email"><br>
    </div>
</div>
    <div class="form-group">
    <textarea rows="3" class="form-control" id="email" placeholder="Write Your Message"></textarea>
    </div>
</form>

<a class="btn btn-dark btn-block rounded" href="" role="button" >Submit</a>
</div>

<br>
<div style="text-align: center;">
    <h2> Follow Us </h2>
    <hr style="width: 40%; ">
    <p>Want to see more? Follow our social pages</p>
    </div>
