<div style="text-align: center;font-family: Roboto;">
    <h2>Contact Us</h2>
    <hr style="width: 40%; ">
    <p>Have any questions? send us a message</p>
    </div>
    <div class="container ">
        
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="font-family: Roboto;">
    <div class="form-row">
        <div class="col">
            <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"><br>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="col">
            <input type="text" formControlName="surn" class="form-control" placeholder="Surname" [ngClass]="{ 'is-invalid': submitted && f.surn.errors }"><br>
            <div *ngIf="submitted && f.surn.errors" class="invalid-feedback">
                <div *ngIf="f.surn.errors.required">Surname is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" formControlName="numb" class="form-control" placeholder="Number" [ngClass]="{ 'is-invalid': submitted && f.numb.errors }"><br>
            <div *ngIf="submitted && f.numb.errors" class="invalid-feedback">
                <div *ngIf="f.numb.errors.required">Number is required</div>
            </div>
        </div>
        <div class="col">
            <input type="text" formControlName="email" class="form-control" placeholder="Email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
    </div>
        <div class="form-row">
        <textarea rows="3" formControlName="messege" class="form-control" placeholder="Write Your Message" id="email"  [ngClass]="{ 'is-invalid': submitted && f.messege.errors }">
            </textarea>
            <div *ngIf="submitted && f.messege.errors" class="invalid-feedback">
                <div *ngIf="f.messege.errors.required">Message is required</div>
            </div>
        </div>
    </form>
    <br>
    <div class="text-center">
        <button class="btn btn-success btn-block " style="width: 25%;" (click)="onSubmit()">Book Now</button>
        <button class="btn btn-dark btn-block" style="width: 25%; padding-left: 10px;" type="reset" (click)="onReset()">Cancel</button>
    </div>
    
    </div>
    
    <br>
    <div style="text-align: center;font-family: Roboto;">
        <h2> Follow Us </h2>
        <hr style="width: 40%; ">
        <p>Want to see more? Follow our social pages</p>
        </div>
