<div style="text-align: center;font-family: Roboto;">
    <h2>Our Hotel</h2>
    <hr style="width: 60%; ">
    </div>
    <div class="container my-5 " >
      <div style="text-align: center;font-family: Roboto;">
        <h2>Our Facilities</h2>
        <hr style="width: 60%; ">
        </div>
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item >
        <img class="d-block mh-20 mw-100 " style="width: 100%; height: 400px" src="/assets/image/hotelstuff/breakfast.jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item >
        <img class="d-block mh-20  mw-100" style="width: 100%; height: 400px;" src="/assets/image/hotelstuff/door.jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item >
        <img class="d-block mh-20  mw-100" style="width: 100%; height: 400px;" src="/assets/image/hotelstuff/stoc.jpg" alt="Third slide">
      </mdb-carousel-item>
      <mdb-carousel-item >
        <img class="d-block mh-20  mw-100" style="width: 100%; height: 400px;" src="/assets/image/hotelstuff/villa2.jpg" alt="Fourth slide">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
    
<div style="text-align: center;font-family: Roboto;">
        <h2>Our Rooms</h2>
        <hr style="width: 60%; ">
        </div>
        <br>
        <h4 style="text-align: center;font-family: Roboto;">Our Deluxe Rooms</h4>
        <br>
        <div class="row" id="gallery">
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Deluxe/apartment.jpg">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Deluxe/hotel.jpg">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Super/indoor.jpg">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Deluxe/villa.jpg">
          </div>
        </div>
        <br><br>

      <h4 style="text-align: center;font-family: Roboto;">Our Superior Rooms</h4>
        <br>
        <div class="row" id="gallery">
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Super/kitchen.jpg">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Super/room.jpg">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Deluxe/modern.jpg">
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Super/towels.jpg">
          </div>
        </div>
        <br><br>
       

                <h4 style="text-align: center;font-family: Roboto;">Our Standard Rooms</h4> <br>
                <div class="row" id="gallery">
                  <div class="col-6 col-md-4 col-lg-3">
                    <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/standard/kitchen.jpg">
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">
                    <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/standard/travel.jpg">
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">
                    <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/Super/indoor.jpg">
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">
                    <img class="mw-100 mh-100" style="width: 100%; height: 200px;" src="/assets/image/standard/towels.jpg">
                  </div>
                </div>
                <br> 
