<div style="text-align: center;font-family: Roboto;">
    <h2>Our Hotel</h2>
    <hr style="width: 60%; ">
    </div>
    <h4 style="text-align: center;font-family: Roboto;">Our Deluxe Rooms</h4><br>
    <div class="section">
  <div class="row justify-content-center">
     
    <div class="col-sm-3">
        <img src="/assets/image/hotelstuff/stoc.jpg" alt="" height="80%" width="80%" >
        </div>
        <div class="col-sm-3">
            <img src="/assets/image/hotelstuff/door.jpg" alt="" height="80%" width="80%" >
            </div>
            <div class="col-sm-3">
                <img src="/assets/image/hotelstuff/villa2.jpg" alt="" height="80%" width="80%" >
                </div>
                <div class="col-sm-3">
                    <img src="/assets/image/hotelstuff/villa1.jpg" alt="" height="80%" width="80%" >
                    </div>
        </div>
    </div>
    





    <div style="text-align: center;font-family: Roboto;">
        <h2>Our Rooms</h2>
        <hr style="width: 60%; ">
        </div>
        <h4 style="text-align: center;font-family: Roboto;">Our Deluxe Rooms</h4>
        <br>
        <div class="section">
      <div class="row justify-content-center">
         
        <div class="col-sm-3">
            <img src="/assets/image/Deluxe/hotel.jpg" alt="" height="80%" width="80%" >
            </div>
            <div class="col-sm-3">
                <img src="/assets/image/Deluxe/apartment.jpg" alt="" height="80%" width="80%" >
                </div>
                <div class="col-sm-3">
                    <img src="/assets/image/Deluxe/modern.jpg" alt="" height="80%" width="80%" >
                    </div>
                    <div class="col-sm-3">
                        <img src="/assets/image/Deluxe/villa.jpg" alt="" height="80%" width="80%" >
                        </div>
            </div>
        </div>
        <h4 style="text-align: center;font-family: Roboto;">Our Superior Rooms</h4>
        <br>
            <div class="section">
            <div class="row justify-content-center">
                
              <div class="col-sm-3">
                  <img src="/assets/image/Super/kitchen.jpg" alt="" height="80%" width="80%" >
                  </div>
                  <div class="col-sm-3">
                      <img src="/assets/image/Super/room.jpg" alt="" height="80%" width="80%" >
                      </div>
                      <div class="col-sm-3">
                          <img src="/assets/image/Super/indoor.jpg" alt="" height="80%" width="80%" >
                          </div>
                          <div class="col-sm-3">
                              <img src="/assets/image/Super/towels.jpg" alt="" height="80%" width="80%" >
                              </div>
                  </div>
                </div>
                <h4 style="text-align: center;font-family: Roboto;">Our Standard Rooms</h4> <br>
                  <div class="section">
                  <div class="row justify-content-center">
                    
                  <div class="col-sm-3">
                      <img src="/assets/image/standard/kitchen.jpg" alt="" height="80%" width="80%" >
                      </div>
                      <div class="col-sm-3">
                          <img src="/assets/image/standard/modern.jpg" alt="" height="80%" width="80%" >
                          </div>
                          <div class="col-sm-3">
                              <img src="/assets/image/standard/towels.jpg" alt="" height="80%" width="80%" >
                              </div>
                              <div class="col-sm-3">
                                  <img src="/assets/image/standard/travel.jpg" alt="" height="80%" width="80%" >
                                  </div>
                      </div>
            </div>