
<section>
  <div style="text-align: center;font-family: Roboto;">
    <h2>About Our Hotel</h2>
    <hr style="width: 60%; ">
    </div>
  
  <div style="text-align: center; font-family: Roboto; ">
    <p>A wide range of high quality facilities and services is available, making your dream holiday come true. Our hotel consists of 73 well furbished luxury rooms, and an additional 39 basic accommodation lodge rooms, a 24 hour restaurant, bar and cocktail lounge.

      Amenities include complimentary Wi-Fi, 24-hour room service, air-conditioned rooms, coffee & tea facilities, flat screen TV, Dstv, in room safe, 24 hour armed security.

      Offering absolute elegance and true luxury, Pavilion Hotel is distinguished for its conferences, weddings and special occasions held in our two conference venues.

      Our mission is to constantly adapt and innovate with new concepts and ideas to exceed our guest’s expectations and experience.</p>
  </div>
</section>
<section>
  <div style="text-align: center;font-family: Roboto;">
    <h2>Our Owners</h2>
    <hr style="width: 60%; ">
    </div>
  <br>
  <div class="row justify-content-center" style="font-family: Roboto; text-align: center;">
    <div class="col-sm-4">
      <div class="card ">

      

        <img src="/assets/image/bl2.jpg"style="width:100%; height: calc(50vh);">

         <div class="card-body">
          <h5 class="card-title">Lizzy Lebogang Modau</h5>
          <p class="card-text">A full Stack developer from Mlab South Africa, Codetribe Academy in Soweto. she's a passionate and skilled developer</p>
         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="https://banelekhumalo.github.io/images/banza.jpg"style="width:100%; height: calc(50vh);" >
        <div class="card-body">
          <h5 class="card-title">Banele Canny Khumalo</h5>
          <p class="card-text">A C++, Php, Angular and Kotlin mobile developer from Mlab South Africa, Codetribe Academy in Soweto, highly dedicated and skilled</p>
        </div>
      </div>
    </div>
  </div>



        <p style="background-color: lightgray; color: black; text-align: center; font-family: Roboto;">
          <br>
          Lebohang and Banele are from the best leading Mobile Application Company in South Africa, <b>MLAB SA Codetribe, Soweto.</b><br>
            We are BANG derived from our first names. Khumalo Modau Hotel started year 2020 July,<br> we are one of the best hotel that is under supervision from Mr Zack Tinga as<br>
            our majority shareholder in partnership with<br> The Innovation Hub.<br><br>
        <br> </p>
    </section>
    <section>

        <div class="card">
            <div class="card-header" style="background-color: black;color: white; font-family: Quicksand; text-align: center; height: calc(15vh);">
              <h5 class="card-title">#TEAM_ZACK</h5>
              <p class="card-text">Thank you for using our websites.</p>

            </div>
          </div>
    </section>
