<div *ngIf="!name;else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div style="text-align: center;font-family: Roboto;">
      <h2>Make Your Reservation</h2>
      <hr style="width: 60%; ">
      </div>
      <h4 style="text-align: center;font-family: Roboto;">Personal Details</h4><br>
      <div class="section">
        <div style="margin-left: 20%; font-family: Roboto;">
        <label>Name</label><br>
        <input type="text" formControlName="name" placeholder="Enter your name" required>
      </div>
      <div style="margin-left: 20%; font-family: Roboto;">
        <label>Last Name</label><br>
        <input type="text" formControlName="lname" placeholder="Enter your last name" required>
      </div>
      <div style="margin-left: 20%;font-family: Roboto">
        <label for="gender">Gender</label><br>

        <select name="gender" id="gender" required>
          <option>Male</option>
          <option>Female</option>
          <option>LGBQTI+</option>
          </select>
      </div>
      <div style="margin-left: 20%;font-family: Roboto">
        <label>Date of birth</label><br>
        <input type="date" formControlName="dob" name="dob" [max]="getToday()">
      </div>
      <div style="margin-left: 20%;font-family: Roboto">
        <label>Cellphone</label><br>
        <input type="tel" formControlName="cellphone" placeholder="Cellphone number"required>
      </div>
      <div style="margin-left: 20%;font-family: Roboto">
        <label>Email</label><br>
        <input type="email" formControlName="email" placeholder="info@k_m-hotel.com"required>
      </div>
      <div style="margin-left: 20%;font-family: Roboto">
        <label for="gender">Province</label><br>

        <select formControlName="gender" id="gender" required>
          <option>Gauteng</option>
          <option>Western Cape</option>
          <option>KwaZulu NamNdiya Natal</option>
          <option>Limpopo</option>
          <option>Mpumalanga</option>
          <option>Free State</option>
          <option>Eastern Cape</option>
          <option>Northern Cape</option>
          <option>North West</option>
          </select>
      </div>
      </div>
      <br><br>

      <div style="margin-left: 25%;font-family: Roboto">
        <input type="submit" class="button primary" value="Submit Form" [disabled]="rForm.valid">
      </div><br><br>
  </form>
</div>

<ng-template #forminfo>

    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div style="text-align: center;font-family: Roboto;">
        <h2>Welcome {{name}}</h2>
        <hr style="width: 60%; ">
        </div>
      <h4 style="text-align: center;font-family: Roboto;">Room Details</h4><br>

        <div style="margin-left: 30%;font-family: Roboto">
          <label>Checkin Date</label><br>
          <input type="date" formControlName="checkin" name="dob" [min]="getToday()" required>
        </div><br>
        <div style="margin-left: 30%;font-family: Roboto">
          <label>Checkout </label><br>
          <input type="date" formControlName="checkout" name="dob" [min]="getToday()" required>
        </div><br>
        <div style="margin-left: 30%;font-family: Roboto">
          <label for="suiteType">Suite Type</label><br>

          <select name="suiteType" id="suiteType" required>
            <option>None</option>
            <option>Deluxe Suite</option>
            <option>Standard Suite</option>
            <option>Superior Suite</option>

            </select>
        </div>
        <br>
        <div style="margin-left: 30%;font-family: Roboto">
          <label>Room </label><br>
          <input type="number" formControlName="room" required>
        </div><br>

        <hr><br>
        <h4 style="text-align: center;font-family: Roboto;">Banking Details</h4><br>
        <div style="margin-left: 30%;font-family: Roboto">
          <label for="bankname">BANK</label><br>

          <select name="bankname" id="bankname" required>
            <option>None</option>
            <option>FNB</option>
            <option>Standard Bank</option>
            <option>Tyme Bank</option>
            <option>Absa</option>
            <option>Capitec</option>
            <option>African Bank</option>
            </select>
        </div>
        <div style="margin-left: 30%;font-family: Roboto">
          <label>Account Holder </label><br>
          <input type="text" formControlName="accholder" placeholder="Name and Surname" required>
        </div>
        <div style="margin-left: 30%; font-family: Roboto">
          <label>Card Number </label><br>
          <input type="number" formControlName="cardno" placeholder="0000 0000 0000 0000" required>
        </div>
        <div style="margin-left: 30%; font-family: Roboto">
          <label>CVV </label><br>
          <input type="number" formControlName="cvv" placeholder="123" required>
        </div><br>
        <div style="margin-left: 30%;font-family: Roboto">
          <label>Expiry Date </label><br>
          <input type="date" formControlName="cvv"required>
        </div><br>
        <div style="margin-left: 25%;font-family: Roboto">
          <input type="submit" class="button primary" value="Submit Form" [disabled]="rForm.valid">
        </div><br><br>
        </form>


</ng-template>
<!-------------Separate------------------>
<br><br><br><br><br>
<div style="background-color: lightgray; color: black; font-size: medium; font-family: Roboto; text-align: left;">
  <p>We thank you making your quotation, you will receive the email within 15min after we have proccessed your request!</p><br>
   <p style="font-family: Roboto;font-size: medium;text-align: left;">These are the infomation we got from you, if there are other changes feel free to contact info@khumalomodau.co.za;
    </p><br>
    <div class="row">
      <div class="col-sm-4">
    <div style="background-color: lightgray; font-family: Roboto;">
      <h4><b>Personal Details</b></h4>
      <p>Name:{{name}}</p>
    <p>Last Name:{{lname}}</p>
    <p>Gender:{{gender}}</p>
    <p>Date of Birth:{{dob}}</p>
    <p>Cellphone:{{cellphone}}</p>
    <p>Email:{{email}}</p>
    <p>Province:{{province}}</p>
    </div>
  </div>
  <div class="col-sm-4">
        <div  style="background-color: lightgrey;color: black; font-family: Roboto;">
          <h4><b>Hotel Specification</b></h4>
          <p>Checkin date:{{checkin}}</p><br>
          <p>Checkout date:{{checkout}}</p><br>
          <p>Suite Type:{{suiteType}}</p><br>
          <p>Number of rooms:{{room}}</p><br>

        </div>
      </div>
    <div class="col-sm-4">
        <div style="background-color: lightgrey;color:black; font-family: Roboto;">
          <h4><b>Bank Details</b></h4>
          <p> Bank Name:{{bankname}}</p><br>
          <p> Account Holder:{{accholder}}</p><br>
          <p>Card Number:{{cardno}}</p><br>
          <p>CVV:{{cvv}}</p><br>
          <p>Expiry Date: {{exDate}}</p>

        </div>
      </div>
    </div>
  </div>

<div class="btn btn-dark btn-block" style="color: #fff; width: 40%;" routerLink="/" routerLinkActive="active">RESET</div>
