<div *ngIf="!name;else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <h1>Personal Details</h1><br><br>
        <div style="margin-left: 20%;">
          <label>Name</label><br>
          <input type="text" formControlName="name" placeholder="Enter your name">
        </div>
        <div style="margin-left: 20%;">
          <label>Last Name</label><br>
          <input type="text" formControlName="lname" placeholder="Enter your last name">
        </div>
        <div style="margin-left: 20%">
          <label for="gender">Gender</label><br>
  
          <select name="gender" id="gender">
            <option>Male</option>
            <option>Female</option>
            <option>LGBQTI+</option>
            </select>
        </div>
        <div style="margin-left: 20%;">
          <label>Date of birth</label><br>
          <input type="date" formControlName="dob">
        </div>
        <div style="margin-left: 20%;">
          <label>Cellphone</label><br>
          <input type="tel" formControlName="cellphone" placeholder="Cellphone number">
        </div>
        <div style="margin-left: 20%;">
          <label>Email</label><br>
          <input type="email" formControlName="email" placeholder="example@banele.co.za">
        </div>
        <div style="margin-left: 20%">
          <label for="gender">Province</label><br>
  
          <select formControlName="gender" id="gender">
            <option>Gauteng</option>
            <option>Western Cape</option>
            <option>KwaZulu NamNdiya Natal</option>
            <option>Limpopo+</option>
            <option>Mpumalanga+</option>
            <option>Free State+</option>
            <option>Eastern Cape+</option>
            <option>Northern Cape+</option>
            <option>North West</option>
            </select>
        </div>
        <br><br>
  
        <div style="margin-left: 25%;">
          <input type="submit" class="button primary" value="Submit Form" [disabled]="rForm.valid">
        </div><br><br>
    </form>
  </div>
  
  <ng-template #forminfo>
  
      <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <h1>Welcome &nbsp; {{name}}</h1><br>
        <h4>Hotel Specification</h4><br><br>
  
          <div style="margin-left: 30%;">
            <label>Checkin Date</label><br>
            <input type="date" formControlName="checkin">
          </div><br>
          <div style="margin-left: 30%;">
            <label>Checkout </label><br>
            <input type="date" formControlName="checkout">
          </div><br>
          <div style="margin-left: 30%">
            <label for="suiteType">Suite Type</label><br>
  
            <select name="suiteType" id="suiteType">
              <option>None</option>
              <option>Deluxe Suite</option>
              <option>Standard Suite</option>
              <option>Superior Suite</option>
  
              </select>
          </div>
          <br>
          <div style="margin-left: 30%;">
            <label>Room </label><br>
            <input type="number" formControlName="room">
          </div><br>
  
          <hr><br>
          <h4>Bank Details</h4><br><br>
          <div style="margin-left: 30%">
            <label for="bankname">BANK</label><br>
  
            <select name="bankname" id="bankname">
              <option>None</option>
              <option>FNB</option>
              <option>Standard Bank</option>
              <option>Absa</option>
              <option>Capitec</option>
              <option>African Bank</option>
              </select>
          </div>
          <div style="margin-left: 30%;">
            <label>Account Holder </label><br>
            <input type="text" formControlName="accholder" placeholder="Name and Surname">
          </div>
          <div style="margin-left: 30%;">
            <label>Card Number </label><br>
            <input type="number" formControlName="cardno" placeholder="0000 0000 0000 0000">
          </div>
          <div style="margin-left: 30%;">
            <label>CVV </label><br>
            <input type="number" formControlName="cvv" placeholder="123">
          </div><br>
          <div style="margin-left: 30%;">
            <label>Expiry Date </label><br>
            <input type="date" formControlName="cvv">
          </div><br>
          <div style="margin-left: 25%;">
            <input type="submit" class="button primary" value="Submit Form" [disabled]="rForm.valid">
          </div><br><br>
          </form>
  
  
  </ng-template>
  <!-------------Separate------------------>
  <br><br><br><br><br><br>
  <div style="background-color: lightgray; color: darkred; font-size: medium;">
    <p>We thank you making your quotation, you will receive the email within 15min after we have proccessed your request!</p><br>
    <div style="margin-left:15%; color: red;">
      <p style="font-family: 'Times New Roman', Times, serif;font-style: oblique;font-size: medium;">These are the infomation we got from you, if there are other changes feel free to contact info@khumalomodau.co.za;
      </p><br>
      <div style="background-color: black;margin-right: 40%;">
        <h4><b>Personal Details</b></h4>
        <p>Name:{{name}}</p>
      <p>Last Name:{{lname}}</p>
      <p>Gender:{{gender}}</p>
      <p>Date of Birth:{{dob}}</p>
      <p>Cellphone:{{cellphone}}</p>
      <p>Email:{{email}}</p>
      <p>Province:{{province}}</p>
      </div>
          <div  style="background-color: red;color: black;margin-right: 40%;">
            <h4><b>Hotel Specification</b></h4>
            <p>Checkin date:{{checkin}}</p><br>
            <p>Checkout date:{{checkout}}</p><br>
            <p>Suite Type:{{suiteType}}</p><br>
            <p>Number of rooms:{{room}}</p><br>
  
          </div>
  
          <div style="background-color: black;color: red;margin-right: 40%;">
            <h4><b>Bank Details</b></h4>
            <p> Bank Name:{{bankname}}</p><br>
            <p> Account Holder:{{accholder}}</p><br>
            <p>Card Number:{{cardno}}</p><br>
            <p>CVV:{{cvv}}</p><br>
            <p>Expiry Date: {{exDate}}</p>
  
          </div>
    </div>
  </div>
  <button style="background-color: red;color: #fff; width: 40%;" routerLink="/" routerLinkActive="active">RESET</button>