
<div class="jumbotron jumbotron bg-cover" style="height: calc(75vh); background-image: url('floral.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <h1 style="text-align: center;padding-top: 10%;">Khumalo Modau Hotel</h1>
    <p style="text-align: center;"> The Ultimate African Experience</p>
      <div class="row justify-content-center">
    <a class="btn btn-dark" href="" role="button" >Register Now</a>     
      </div>
    </div>
  </div>

  <div style="text-align: center;">
      <h4>Our Hotel</h4>
      <hr style="width: 60%; ">
      <p class="text-justify-center">The Khumalo Modau Hotel is a modern, elegant 4-star hotel in Southern Africa ,perfect for a romantic getaway,<br> 
                                     charming vacation, in the enchanting setting of KZN .The rooms at the K & M Hotel are new with african features,<br> 
                                     well-lit and inviting. Our reception staff will be happy to help you during your stay in South Africa,<br>
                                     guided visits and some good restaurants in the city of durban.</p>
  </div>

<br><br><br>
<div style="text-align: center;">
  <h4>Our Services</h4>
  <hr style="width: 60%; ">
</div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="card ">
            <img src="floral-2622308_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Affordable</h5>
              <p class="card-text">With us luxury comes at an affordable price.</p>
             </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="floral-2622308_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Special treatment</h5>
              <p class="card-text">All our Customers are special and we ensure they get the best treatment.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="floral-2622308_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Remarkable Meals</h5>
              <p class="card-text">We have world class chefs , that offer a world class menu.</p>
             
            </div>
          </div>
        </div>
      </div>
    </div>


<br><br><br>

 
    <footer>
      <div class="card text-justify-center">
        <div class="card-body">
          <h5 class="card-title">Special thank you to you for using our website!</h5>
          <p class="card-text">**********************************************************</p>
          <a href="#" class="btn btn-primary">K&M Hotel</a>
        </div>
        <div class="card-footer text-muted" style="background-color: #000;">
          ©All Rights reserved by Mlab South Africa: Code Tribe Soweto ©
        </div>
      </div>
    </footer>

 
    
  
  