
<div class="jumbotron jumbotron bg-cover " style="background-image: url('assets/image/hotelstuff/villa1.jpg'); height: calc(100vh); " >

  <div class="overlay"></div>

    <h1 style="text-align: center;padding-top: 15%;font-family: Quicksand; color: white;">Khumalo Modau Hotel</h1>
    <p style="text-align: center; font-family: Roboto; color: white;"> The Ultimate African Experience</p>
      <div class="row justify-content-center">
    <a class="btn btn-dark" routerLink="/register" role="button" >Book Now</a>
      </div>
</div>

  <br><br>
  <div style="text-align: center;">
      <h4 style="font-family: Roboto;">Our Hotel</h4>
      <hr style="width: 60%; ">
      <p class="text-justify-center" style="font-family: roboto;">The Khumalo Modau Hotel is a modern, elegant 4-star hotel in Southern Africa ,perfect for a romantic getaway,<br> 
                                     charming vacation, in the enchanting setting of KZN .The rooms at the K & M Hotel are new with african features,<br> 
                                     well-lit and inviting. Our reception staff will be happy to help you during your stay in South Africa,<br>
                                     guided visits and some good restaurants in the city of durban.</p>
  </div>

<br><br>
<div style="text-align: center;">
  <h4 style="font-family: Roboto;">Our Services</h4>
  <hr style="width: 60%; ">
</div>
    <div class="container">
      <div class="row justify-content-center" style="font-family: Roboto; text-align: center;">
        <div class="col-sm-4">
          <div class="card ">
            <img src="/assets/image/hotelstuff/door.jpg" style="width:100%; height:50%;">
             <div class="card-body">
              <h5 class="card-title">Secure</h5>
              <p class="card-text">we have 24 hour security and cctv cameras to ensure that all our guest are safe.</p>
             </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="/assets/image/hotelstuff/villa1.jpg"style="width:100%; height:50%;" >
            <div class="card-body">
              <h5 class="card-title">Special treatment</h5>
              <p class="card-text">All our Customers are special and we ensure they get the best treatment. <br> also having clean utilities and room services</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="/assets/image/hotelstuff/breakfast.jpg" class="card-img-top" alt="..." style="width:100%; height:50%;">
            <div class="card-body">
              <h5 class="card-title">Remarkable Meals</h5>
              <p class="card-text">We have world class chefs , that offer a world class menu.</p>

            </div>
          </div>
        </div>
      </div>
    </div>


<br><br><br>

 
    <div class="footer bg-dark" style="text-align: center;font-family: Quicksand; height: calc(15vh); background-color: dark; color: white;" ><br>
      <div class="justify-content-center">
      <h5> Special thank you for using our website!</h5>
      <p> ©All Rights reserved by Mlab South Africa: Code Tribe Soweto ©                 K&M Hotel </p>
    </div>
    </div>

 
    
  
    
