<div class="jumbotron jumbotron bg-cover">
  <div class="overlay"></div>
  <div class="container">
    <h1 style="text-align: center;">Welcome To Khumalo Modau Hotels</h1>
    <p style="text-align: center;">Searching  For a five start african hotel to satisfy your travelling dreams?look no futher. 
      Register to learn more and begin your booking journery.
      already signed up? <a class="text" routerLink="#">Login In</a> and start booking.</p>
      <div class="row justify-content-center">
    <a class="btn btn-dark" href="" role="button" >Register Now</a>     
      </div>
    </div>
  
  </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="card ">
            <img src="floral-2622308_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Affordable</h5>
              <p class="card-text">With us luxury comes at an affordable price.</p>
             </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="floral-2622308_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Special treatment</h5>
              <p class="card-text">All our Customers are special and we ensure they get the best treatment.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="floral-2622308_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Remarkable Meals</h5>
              <p class="card-text">We have world class chefs , that offer a world class menu.</p>
             
            </div>
          </div>
        </div>
      </div>
    </div>

 
    
  
  