
<header>

  <div class="background-color:#f3e5ab">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#"><h1 style="color:crimson;">Khumalo Modau Hotel</h1></a>
      </li>

    </ul>
  </div>

  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img routerLink="https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.aureliobarrios.com%2F%3Fp%3D409&psig=AOvVaw20auSZCmwTLf57DVwd2iDd&ust=1600590873812000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDK-efn9OsCFQAAAAAdAAAAABAD" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login/Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Login</a>
              <a class="dropdown-item" href="#">Register</a>

            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search"  placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
</header>


<main >
  <br><br>

  <section>


  </section>

  <section>
    <div style="width: 1000px;margin-left:100px; height: 100%;background: url('https://images.pexels.com/photos/545046/pexels-photo-545046.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">
      <br><br><br><br>
      <br><br><br><br>

      <br><br><br><br>
      <br><br><br><br>

    </div>

    </section>
    <br><br>
    <h3 style="display: flex; text-align: center;">The best suites we have</h3>

<section>
  <div>

    <h3>Dexule Suites</h3>
  </div>
  <div>
    <div class="card-deck">
      <div class="card">
        <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Apartment</h5>
          <p class="card-text">Open space for covered with white hall with woodern floor!</p>
        </div>
        <div class="card-footer">
         <a routerLink="/register" routerLinkActive="active">BOOK</a>
        </div>
      </div>
      <div class="card">
        <img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Hotel</h5>
          <p class="card-text">Wide range with best view of the city.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/register" routerLinkActive="active">BOOK</a>

        </div>
      </div>
      <div class="card">
        <img src="https://images.pexels.com/photos/261102/pexels-photo-261102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Villa</h5>
          <p class="card-text">Quality best villa uyou could find </p>
        </div>
        <div class="card-footer">
          <a routerLink="/register" routerLinkActive="active">BOOK</a>

        </div>
      </div>
    </div>

    <div><br>
      <div>
        <h3>Superior Suite</h3>

      </div>
      <div class="card-deck">
        <div class="card">
          <img src="https://images.pexels.com/photos/2507010/pexels-photo-2507010.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Cortine Ville</h5>
            <p class="card-text">SA's rated number 1 cortine in the country</p>
          </div>
          <div class="card-footer">
            <a routerLink="/register" routerLinkActive="active">BOOK</a>

          </div>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/1743231/pexels-photo-1743231.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Palace</h5>
            <p class="card-text">Little paradise room with oversee touch!</p>
          </div>
          <div class="card-footer">
            <a routerLink="/register" routerLinkActive="active">BOOK</a>

          </div>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/2134224/pexels-photo-2134224.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Kasi African touch</h5>
            <p class="card-text">We also keep with kasi taste experience.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/register" routerLinkActive="active">BOOK</a>

          </div>
        </div>
      </div>
    </div>
    <div><br>
      <div>
        <h3>Standard Suites</h3>

      </div>
      <div class="card-deck">
        <div class="card">
          <img src="https://images.pexels.com/photos/172872/pexels-photo-172872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Modern Touch</h5>
            <p class="card-text">Itilian creative fancy tiles and millionaires' preference.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/register" routerLinkActive="active">BOOK</a>

          </div>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/271643/pexels-photo-271643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Dinning Space</h5>
            <p class="card-text">Best suited space for food lovers!</p>
          </div>
          <div class="card-footer">
            <a routerLink="/register" routerLinkActive="active">BOOK</a>

          </div>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/161758/governor-s-mansion-montgomery-alabama-grand-staircase-161758.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Modau's touch</h5>
            <p class="card-text">African experience and motion in peace.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/register" routerLinkActive="active">BOOK</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>


</main>

<br><br><br>


<router-outlet></router-outlet>






<footer>
  <div class="card text-center">
    <div class="card-header">
      #TeamZack
    </div>
    <div class="card-body">
      <h5 class="card-title">Special thank you to you for using our website!</h5>
      <p class="card-text">**********************************************************</p>
      <a href="#" class="btn btn-primary">K&M Hotel</a>
    </div>
    <div class="card-footer text-muted" style="background-color: #000;">
      ©All Rights reserved by Mlab South Africa: Code Tribe Soweto ©
    </div>
  </div>
</footer>



